.item h1 {
    text-transform: uppercase;
}

.item-body {
    margin: 2rem 10rem;
}

.billboard-img {
    height: 40rem;
    width: 40rem;
    border: 1px solid black;
    display: inline-block;
    margin-right: 10rem;
}

.billboard-img img {
    height: 100%;
    width: 100%;
}

.billboard-text {
    display: inline-block;
    font-size: 2rem;
    margin-left: 5rem;
}